* {
  color: #4a462a;
  font-family: SourceSans;
}

@font-face {
  font-family: SourceSans;
  src: url("../fonts/SourceSansPro/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: SourceSansBold;
  src: url("../fonts/SourceSansPro/SourceSansPro-Bold.ttf");
}

@font-face {
  font-family: Maven;
  src: url("../fonts/MavenPro/MavenPro-Regular.ttf");
}

@font-face {
  font-family: Maven-Black;
  src: url("../fonts/MavenPro/MavenPro-Black.ttf");
}
